<html>
<head>DEvops with Docker and Ansible</head>
	<body>
<h2>Hostname is {{ansible_hostname}}</h2>
<h2>Hostname is {{provisioner_tool}}</h2>
<h2>Hostname is {{automation_tool}}</h2>

</body>
</html>
